<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DGPLUG Summer Training</title>

  <link rel="stylesheet" href="{{ '/assets/style.css' | url }}">

  <meta name="description" content="Get started on the path to becoming an upstream open source contributor with this 2-3 months long summer training.">
  <meta property="og:title" content="DGPLUG Summer Training">
  <meta property="og:description" content="Get started on the path to becoming an upstream open source contributor with this 2-3 months long summer training.">
  <meta property="og:image" content="https://foss.training/assets/img/dgplug.png">
  <meta property="og:image:alt" content="DGPLUG Summer Training Logo">
  <meta property="og:locale" content="en_GB">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://foss.training/">
  <link rel="canonical" href="https://foss.training/">

  <link rel="icon" href="{{ '/assets/img/favicon.png' | url }}">
</head>
<body>
  {% include "header.njk" %}

  <main class="site-content" id="content">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
</body>
</html>