{% extends '_base.html' %}
{% block content %}

    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(images/header-banner.jpg);">
      <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>DGPLUG SUMMER TRAINING</h1>
              <p class="lead">Get started on the path to becoming an upstream contributor.</p>
              <p class="lead">Starting Date: 16th June 13:30 UTC</p>
            </div>


          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <section class="school-features d-flex" style="background-image: url(images/big_image_3.jpg);">

      <div class="inner">
        <div class="media d-block feature">
          <div class="icon"><span class="flaticon-video-call"></span></div>
          <div class="media-body">
            <h3 class="mt-0">Gaining Technological Knowledge</h3>
            <p>Get familiar with Free (Libre) and Open Source Software and its vast ecosystem</p>
          </div>
        </div>

        <div class="media d-block feature">
          <div class="icon"><span class="flaticon-student"></span></div>
          <div class="media-body">
            <h3 class="mt-0">Privacy and Ethics in Programming</h3>
            <p>Do you realise the impact of the code you write?
              Why does privacy matter in an open online world? Learn why hacking is a *good* thing and why we need to do more of it
              (as opposed to its evil twin, cracking)</p>
          </div>
        </div>

        <div class="media d-block feature">
          <div class="icon"><span class="flaticon-video-player-1"></span></div>
          <div class="media-body">
            <h3 class="mt-0">Real-world project experience</h3>
            <p>Learn how software is written and managed in real life</p>
          </div>
        </div>


        <div class="media d-block feature">
          <div class="icon"><span class="flaticon-audiobook"></span></div>
          <div class="media-body">
            <h3 class="mt-0">Get acquainted with Free Software technologies</h3>
            <p>Learn why being in control of the code you use is important and how to use it</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->


    <section class="site-section">
      <div class="container">
        <section class="school-features text-dark d-flex">

          <div class="inner">
            <div class="media d-block feature">
              <div class="icon"><span class="flaticon-video-call"></span></div>
              <div class="media-body">
                <h3 class="mt-0">Online reading materials</h3>
                <p>Between fast paced text books, session logs and links to a ton of curated knowledge, you will have your hands (and mind) full
                </p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="icon"><span class="flaticon-student"></span></div>
              <div class="media-body">
                <h3 class="mt-0">Talks by international upstream contributors</h3>
                <p>Learn from the best. Heavy weights with years of experience and wisdom share all they know</p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="icon"><span class="flaticon-video-player-1"></span></div>
              <div class="media-body">
                <h3 class="mt-0">Direct interaction with core contributors</h3>
                <p>Meet and learn from folks who have walked the path before.
                  Alumni who used the Summer Training to vault themselves into being valued members of the open source community</p>
              </div>
            </div>


            <div class="media d-block feature">
              <div class="icon"><span class="flaticon-audiobook"></span></div>
              <div class="media-body">
                <h3 class="mt-0">Soft skill training</h3>
                <p>Ask better questions<br>
                  Learn to blog<br>
                  Communicate effectively</p>
              </div>
            </div>
          </div>
        </section>

        <section class="school-features text-dark last d-flex">

          <div class="inner">
            <div class="media d-block feature">
              <div class="icon"><span class="flaticon-student-1"></span></div>
              <div class="media-body">
                <h3 class="mt-0">Revisiting programming fundamentals</h3>
                <p>Don’t let your computer limit what you can do.
                  Learn how to use them to get things done instead of doing them manually and do even more!</p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="icon"><span class="flaticon-interface"></span></div>
              <div class="media-body">
                <h3 class="mt-0">Communication skills</h3>
                <p>Write better email<br>
                  Learn netiquette<br>
                  Learn the joys of making friends over IRC</p>
              </div>
            </div>

            <div class="media d-block feature">
              <div class="icon"><span class="flaticon-book"></span></div>
              <div class="media-body">
                <h3 class="mt-0">Free Software project guidelines</h3>
                <p>How do you commit code to a project?<br>
                  How do you work with the people you collaborate with?<br>
                  What are the whys and hows?<br>
                  Learn all about it here</p>
              </div>
            </div>


            <div class="media d-block feature">
              <div class="icon"><span class="flaticon-geography"></span></div>
              <div class="media-body">
                <h3 class="mt-0">Free Software Licenses</h3>
                <p>How do you protect your work?<br>
                  How do you give it away?<br>
                  How do you make sure you get credit for your work?<br>
                  Why is copyright important?</p>
              </div>
            </div>
          </div>
        </section>


      </div>
    </section>
    <!-- END section -->

    <section class="section-cover section-dark" data-stellar-background-ratio="0.5" style="background-image: url(images/big_image_3.jpg);">
      <div class="container">
        <div class="row justify-content-center align-items-center intro">
          <div class="col-md-7 text-center element-animate">
            <h2>How to Join?</h2>
            <p class="lead mb-5">Join the mailing list and the IRC channel(#dgplug on irc.libera.chat). If you need help with IRC, read
              <a href="http://summertraining.readthedocs.io/en/latest/irc.html#hexchat" target="_blank" rel="noopener noreferrer">this guide</a>. All important details will be sent to the mailing list.</p>
            <p><a href="http://lists.dgplug.org/listinfo.cgi/users-dgplug.org" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Join Mailing List Now</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->


    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Requirements</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <ul>
              <li>A computer with any recent GNU/Linux distribution installed</li>
              <li>A decent Internet connection</li>
              <li>Attitude to learn</li>
              <li>Go through previous years’ IRC session logs</li>
            </ul>
            <p><a href="https://dgplug.org/summertraining18/" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Read More</a></p>
            <p><a href="https://summertraining.readthedocs.io/en/latest/faq.html" class="btn btn-outline-primary" target="_blank" rel="noopener noreferrer">FAQs</a></p>
          </div>
          <div class="col-md-7">
            <img src="images/how_to_register_in_mailing_list.gif" style="width: 100%;" />
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
{% endblock %}
