---
layout: base.njk
---
<!-- Objectives section -->
<section class="site-section" id="contact">
  <h2 class="section-title">Contact Us</h2>
  <p class="section-summary">Have any doubts? Feel free to contact us.</p>
  <hr class="section-heading-underline" />
  <ul>
    <li>
      <h3 class="item-title">IRC</h3>
      <p class="item-paragraph">#dgplug on irc.libera.chat</p>
    </li>
    <li>
      <h3 class="item-title">Mailing list</h3>
      <a class="item-paragraph" href="https://mail.python.org/mailman3/lists/dgplug.python.org/">
      https://mail.python.org/mailman3/lists/dgplug.python.org/
      </a>
    </li>
  </ul>
</section>